recursive-include pyparallelproj/lib_Linux_64bit *
recursive-include pyparallelproj/lib_Linux_32bit *
recursive-include pyparallelproj/lib_Windows_64bit *
recursive-include pyparallelproj/lib_Windows_32bit *
recursive-include pyparallelproj/include *
recursive-include pyparallelproj/share *
recursive-include pyparallelproj/data *
