# version is auto-derived from git tags / archives
# see https://pypi.org/project/setuptools-scm/
[build-system]
requires = ["setuptools>=45", "setuptools_scm[toml]>=7.0"]
# needed to detect version number from git tags / archives
[tool.setuptools_scm]

[project]
name = "parallelproj"
authors = [
    {name = "Georg Schramm", email = "georg.schramm@kuleuven.be"},
]
description = "Python wrappers for parallelproj projectors."
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python",
]
license = {file = "LICENSE"}
dependencies = [
    "numpy>=1.22",
    "scipy>=1.0",
    "array-api-compat",
    "matplotlib",
]
dynamic = ["version"]

# hint where the python sources can be found
[tool.setuptools.packages.find]
where = ["python"]
include = ["parallelproj*"]

[tool.setuptools.package-data]
"parallelproj" = ["py.typed"]

[tool.coverage.report]
exclude_lines = [
    "def __repr__",
    "if verbose:",
    "if self._debug:",
    "if self.debug:",
    "if settings.DEBUG",
    "raise AssertionError",
    "raise NotImplementedError",
    "if 0:",
    "if __name__ == .__main__.:",
    "if TYPE_CHECKING:",
    "class .*\\bProtocol\\):",
    "@(abc\\.)?abstractmethod",
    "if parallelproj.is_cuda_array",
    "if is_cuda_array",
    "if cuda_present:",
    "def is_cuda_array",
    "def empty_cuda_cache",
    "if num_visible_cuda_devices > 0",
    "if cupy_enabled",
    "lib_parallelproj_c_fname",
    "empty_cuda_cache",
    "__str__"
]
